
{% load static %}
{% load user_tags %}

<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/styles.css' %}"/>
    
    <title>Tutorinator</title>
    
    {% include "generic/header.html" %}
    
    <body>
        <div class = "content" style="text-align:center; font-size: 26px">
            Name: {{course.name}}
            <br>
            Number in Queue: {{count}}
            <br>
            {% if request.user|in_group:"Admin" %}
            <a class="btn btn-danger" href="{% url 'course' course.id 'remove' %}">Delete Course</a>
            {% endif %}
            <br>
            {% if request.user|in_group:"Tutor" and not is_tutor %}
            <a class="btn btn-primary" href="{% url 'course' course.id 'add_to_schedule' %}">Add To Schedule</a>
            {% endif %}
            <br>
            {% if request.user|in_group:"Tutor" and is_tutor %}
            <a class="btn btn-primary" href="{% url 'course' course.id 'remove_from_schedule' %}">Remove From Schedule</a>
            {% endif %}
        </div>
    </body>
</html>
