{% load user_tags %}



<html>
{% include "users/header.html" %}
<!-- trying to make sure page is centered-->
    <style>
        
        .content { 
          max-width: 1080px;
          margin: auto;
        }

        
    </style>
    

    <div class = "content">

        <head>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

           

            

        </head>
        {% if user.is_authenticated %}
        <body>
            
            <h1>List of Schedules:</h1> <!-- print the qeue of students here -->

            <table> <!--trying to print it as a table, for legibility -->

                <tr>
                    <th>Course</th> 
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>            
                    <th>First Name</th> 
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>            
                    <th>Last Name</th>
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>  
                    <th>ID</th>
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>  
                    <th>Schedule</th>
                    
                </tr>

                {% for schedule in schedules %}

                <tr> 
                    <td>  <a class="ml-2" href=""> {{schedule.course}}</a>  </td>

                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  
                   
                    <td> {{schedule.firstName}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  

                    <td> {{schedule.lastName}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  

                    <td>  {{schedule.tutorId}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  

                    <td>  {{schedule.schedule}} </td>
                    
                </tr>
                
                    

                {% endfor %}

      
            </table>    
        </body>
        {% endif %}
</html>