
{% comment %}
    
    add
    {% include "users/header.html" %}
    to a page right below the opening <html> tag to include this header in it
        
    we can also pass data in to this template by using
    {% include "users/header.html" with my_variable=something %}
    if we want to hide certain things, such as hiding the home button when we are already on the home page
    
{% endcomment %}



{% load user_tags %}
{% load static %}

<style>
    .header {
        padding: 40px;
        text-align: center;
        background: #7d8dc2;
        color: rgb(0, 0, 0);
        font-size: 30px;
        background-image: url('https://www.zastavki.com/pictures/1680x1050/2010/Archive_Miscellaneous_Multi-coloured_pencils_022988_.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        
    }
</style>

<html>
    <div class = "header">
        
        <h1>Welcome to Tutorinator!</h1>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <div class="btn-group" role="group" aria-label="Test">
            
            <!--when hide_home="true", dont show the home button-->
          
            <a type="button" class="btn btn-primary" href="{% url 'home' %}">Home</a>
           
            <a type="button" class="btn btn-primary">Other</a>
            <a type="button" class="btn btn-primary">Buttons</a>
            <a type="button" class="btn btn-primary">Here</a>
            
            {% if user.is_authenticated %}
                <a type="button" class="btn btn-primary" href="{% url 'addStudent' %}">Add Student To Queue</a>
                <!--user group exclusive buttons-->
                {% if request.user|in_group:"Tutor"%}
                    <a type="button" class="btn btn-primary">Tutor</a>
                {% elif request.user|in_group:"Tutor Admin"%}
                    <a type="button" class="btn btn-primary">Admin</a>
                    <a type="button" class="btn btn-primary" href="{% url 'addStudent' %}">Add Student To Queue</a>
                {% elif request.user|in_group:"Student"%}
                    <a type="button" class="btn btn-primary">Student</a>
                {% endif %}
                
                <!--logout-->
                <a type="button" class="btn btn-primary" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <!--login/register-->
                <a type="button" class="btn btn-primary" href="{% url 'login' %}">Log in</a>
                <a type="button" class="btn btn-primary" href="{% url 'register' %}">Register</a>
            {% endif %}
            

        </div>
    </div>
</html>
