{% load user_tags %}
{% load static %}

<html>
{% include "users/header.html" %}
<!-- trying to make sure page is centered-->
    <style>
        
        .content { 
          max-width: 1080px;
          margin: auto;
        }

        
    </style>
    

    <div class = "content">

        <head>
            <title>Tutorinator</title>
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            {% if request.user|in_group:"Tutor"%} <!--display a different welcome depending on user group-->
                <h5>Tutor Homepage</h5>
                <h6>
                    <!--
                    <a class="ml-2" href="{% url 'timeOffRequest' %}">Request Time off</a>
                    <a class="ml-2" href="{% url 'timeOffRequestList' %}">View Time off Requests</a>
                    -->
                </h6>

            {% elif request.user|in_group:"Tutor Admin"%}

                <h5>Admin Homepage</h5>
                <h6>
                    <!--
                    <a class="ml-2" href="{% url 'reportsList' %}">Read Reports</a>
                    <a class="ml-2" href="{% url 'setSchedules' %}">Set Schedules</a>       
                    <a class="ml-2" href="{% url 'timeOffRequestList' %}">Read Time off Requests</a>   
                    <a class="ml-2" href="{% url 'admin:index' %}">Admininstration</a>
                    <a class="ml-2" href="{% url 'tutoringRecord' %}">See Tutoring Record</a>
                   -->
                </h6>       
                   

            
            {% elif request.user|in_group:"Student"%}

                <h5>Student Homepage</h5>
            
            {% else %}

                <h5>Tutorinator 1.0</h5>

            {% endif  %}

            {% if request.user|in_group:"Tutor Admin" or request.user|in_group:"Tutor" %}

            <h6>
                <!--
                <a class="ml-2" href="{% url 'schedules' %}">See Schedules</a>
                -->
            </h6>    


            {% endif  %}


              

            {% if user.is_authenticated %} <!-- the code below only appears if user is logged-->                             
                <h6>
                    <!--
                    <a class="ml-2" href="{% url 'reports' %}">Report on a tutoring session?</a>
                    <a class="ml-2" href="{% url 'courseSearch' %}">Search by Course?</a>
                    -->
                </h6>            
                
    
            
            {% endif %}
         

            

        </head>

        <body>
            {% include "users/studentList.html" with queue=queue %}
        </body>

</html>