{% load user_tags %}



<html>
{% include "users/header.html" %}
<!-- trying to make sure page is centered-->
    <style>
        
        .content { 
          max-width: 1080px;
          margin: auto;
        }

        
    </style>
    

    <div class = "content">

        <head>

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

           

            

        </head>
        {% if request.user|in_group:"Tutor Admin"%}
        <body>
            
            <h1>List of Reports:</h1> <!-- print the qeue of students here -->

            <table> <!--trying to print it as a table, for legibility -->

                <tr>
                    <th>Date</th> 
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>            
                    <th>Student ID</th> 
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>            
                    <th>Student Name</th>
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>  
                    <th>Tutor Name</th>
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>  
                    <th>Course</th>
                    <th></th>     <!--empty space between cols -->
                    <th></th> 
                    <th></th> 
                    <th></th>  
                    <th>Report</th>
                </tr>

                {% for report in reports %}

                <tr> 
                    <td> <a class="ml-2" href=""> {{report.day}}</a>  </td>

                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  
                   
                    <td> {{report.student_id}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  

                    <td> {{report.studentName}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  

                    <td>  {{report.TutorName}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  

                    <td>  {{report.course}} </td>
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td></td>  
                    <td>  {{report.report}} </td>
                </tr>
                
                    

                {% endfor %}

      
            </table>    
        </body>
        {% endif %}
</html>